@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, friend!</h1>

Welcome to simple Blazor Snake Game!
<br/>
Feel free to explore the game and have fun!
<hr/>

<button class="btn btn-primary" @onclick="StartANewGame">Let's Play</button>

@code { 
    [Inject] 
    NavigationManager Nav { get; set; }
    private void StartANewGame()
    {
        Nav.NavigateTo("/snake-game", forceLoad: true);
    }
}