@page "/snake-game"

<PageTitle>Snake Game</PageTitle>

<h1>Snake Game</h1>

<p role="status">Score: @score</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@code {
    private int score = 0;

    private void IncrementCount()
    {
        score++;
    }
}
